<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>TRABAJO FINAL CRUD FREDDY COMPRADORES DE PRODUCTOS</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">CRUD Nodejs Mysql</a>
    </nav>